{% set image = article.getSitemapPhoto() %}
{% if image is not empty %}
    {% include 'SitemapBundle:Sitemap:Partial/related-image.xml.twig' with {'image': image, 'article':article} only %}
{% endif %}

{% for image in article.getSitemapInnerPhotos() %}
    {% include 'SitemapBundle:Sitemap:Partial/related-image.xml.twig' with {'image': image, 'article':article} only %}
{% endfor %}

{% for image in article.getSitemapInnerGalleryPhotos() %}
    {% include 'SitemapBundle:Sitemap:Partial/related-image.xml.twig' with {'image': image, 'article':article} only %}
{% endfor %}
