<image:image>
    <image:loc>
        {% include 'SitemapBundle:Sitemap:Partial/image_url.html.twig' with {'image': image,'article': article} only %}
    </image:loc>
    {% if image.getSitemapTitle() is not empty %}
        <image:title>
            {{ image.getSitemapTitle() }}
        </image:title>
    {% endif %}
    {% if image.getSitemapDescription() is not empty %}
        <image:caption>
            {{ image.getSitemapDescription() }}
        </image:caption>
    {% endif %}
</image:image>
