{% set video = article.getSitemapVideo() %}
{% if video is defined and video is not empty %}
    {% include 'SitemapBundle:Sitemap:Partial/related-video.xml.twig' with {'video': video,'article': article} only %}
{% endif %}

{% for video in article.getSitemapInnerVideos() %}
    {% include 'SitemapBundle:Sitemap:Partial/related-video.xml.twig' with {'video': video,'article': article} only %}
{% endfor %}
