<video:video>
    <video:content_loc>{% include 'SitemapBundle:Sitemap:Partial/video_url.html.twig' with {'article': article,'video': video} only %}</video:content_loc>
    <video:thumbnail_loc>
        <![CDATA[{{ getImgUrl(video, {'width':640,'height':480}) }}]]>
    </video:thumbnail_loc>
    <video:title>
        <![CDATA[{{ video.getSitemapTitle()|replace({"\r\n": " ", "\n": " ", "\r": " "})|truncate(100)|trim }}]]>
    </video:title>
    <video:description>
        <![CDATA[{{ video.getSitemapDescription()|replace({"\r\n": " ", "\n": " ", "\r": " "})|truncate(2048)|trim }}
        ]]>
    </video:description>
    <video:duration>{{ video.getSitemapOrgDuration() }}</video:duration>
    <video:publication_date>{{ video.getSitemapPublishStartDate|date('c') }}</video:publication_date>
    {% if video.getSitemapPublishStopDate is defined %}
        <video:expiration_date>{{ video.getSitemapPublishStopDate|date('c') }}</video:expiration_date>
    {% endif %}
</video:video>
