{% for article in articles %}
    <url>
        <loc>{{ url(article) }}</loc>
        {% include 'SitemapBundle:Sitemap:Partial/related-images.xml.twig' %}
        {% include 'SitemapBundle:Sitemap:Partial/related-videos.xml.twig' %}
    </url>
{% endfor %}
