{% for article in images %}
    {% for image in article.getSitemapImageAll() %}
        <url>
            <loc>{% include 'SitemapBundle:Sitemap:Partial/image_url.html.twig' with {'article': article} only %}</loc>

            {% include 'SitemapBundle:Sitemap:Partial/related-image.xml.twig' with {'image': image,'article': article} only %}
        </url>
    {% endfor %}
{% endfor %}
