<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for file in files %}
        <sitemap>
            <loc>{{ url('sitemap_index_path', {'file_path': file_path, 'file_name': file.getFilename(),'slug': slug}) }}.xml</loc>
            <lastmod>{{ "now"|date('c') }}</lastmod>
        </sitemap>
    {% endfor %}
</sitemapindex>
