<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:news="http://www.google.com/schemas/sitemap-news/0.9">
    {% for article in articles %}
        <url>
            <loc>{{ url(article) }}</loc>
            <news:news>
                <news:publication>
                    <news:name>{{ sitemap_title }}</news:name>
                    <news:language>pl</news:language>
                </news:publication>
                <news:publication_date>{{ article.getSitemapPublishStartDate()|date('c') }}</news:publication_date>
                <news:title>{{ article.getTitle() }}</news:title>
                {% if article.getSitemapKeywords() is not empty %}
                    {% set keywords = article.getSitemapKeywords() %}
                    <news:keywords>
                        {% for i, keyword in keywords%}
                            {{ keyword.getSitemapTitle() }}{% if keywords.count() != i+1 %},{% endif %}
                        {% endfor %}
                    </news:keywords>
                {% endif %}

            </news:news>
        </url>
    {% endfor %}
</urlset>

