{% for article in videos %}
    {% for video in article.getSitemapVideoAll() %}
        <url>
            <loc>{% include 'SitemapBundle:Sitemap:Partial/video_url.html.twig' with {'article': article} only %}</loc>
            {% if video.getStillUrl() is defined %}
                <image:image>
                    <image:loc>{% include 'SitemapBundle:Sitemap:Partial/image_url.html.twig' with {'article': article} only %}</image:loc>
                </image:image>
            {% endif %}

            {% include 'SitemapBundle:Sitemap:Partial/related-video.xml.twig' with {'video': video, 'article': article} only %}
        </url>
    {% endfor %}
{% endfor %}
